body {
font-size: 12px;
font-family: Consolas, Courier New;
background-color: light-blue;
}

#top {
font-family: Arial, sans-serif;
font-size: 16px;
}

.heading {
font-size: 14px;
border-left-style: solid;
padding: 5px;
}
 
img {
padding: 3.5px;
border: 2px solid black;
}
