/* could be useful

sticky {
position: sticky;
top: 0;
} */

@media (prefers-color-scheme: light) {
.sector:hover:nth-child(odd) {
background: #cacacf;
}

.sector:hover:nth-child(even) {
background: #cfcfd8;
}

body {
background-color: #ffffff;
color: #000000;
font-size: 12px;
font-family: Fixedsys, Tahoma, Verdana;
cursor: url(https://files.catbox.moe/v6n11y.png), auto;
}

#top {
font-family: Arial, sans-serif;
font-size: 16px;
}

.heading {
font-size: 16px;
border-left-style: solid;
padding: 3px;
}
 
img {
padding: 3.5px;
border: 2px solid black;
}
 
}

/* dingle dongle */ 

@media (prefers-color-scheme: dark) {
.sector:hover:nth-child(odd) {
background: #110606;
}

.sector:hover:nth-child(even) {
background: #160909;
}

body {
background-color: #000000;
color: #ffffff;
font-size: 12px;
font-family: Fixedsys, Consolas, Courier New;
cursor: url(https://files.catbox.moe/sbxvx2.png), auto;
}

#top {
font-family: Arial, sans-serif;
font-size: 16px;
}

.heading {
font-size: 16px;
border-left-style: solid;
padding: 3px;
}
 
img {
padding: 3.5px;
border: 2px solid white;
}
}
